
{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:url"                content="https://sib-swiss.github.io/NGS-introduction-training/latest/" />
  <meta property="og:title"              content="NGS - Quality Control, Alignment, Visualisation" />
  <meta property="og:description"        content="Course on the introduction to next generation sequencing analysis" />
  <meta property="og:image"              content="https://sib-swiss.github.io/NGS-introduction-training/2022.11/assets/images/alignment_infograph.png" />
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="NGS - Quality Control, Alignment, Visualisation" />
  <meta name="twitter:description" content="Course on the introduction to next generation sequencing analysis" />
  <meta name="twitter:image" content="https://sib-swiss.github.io/NGS-introduction-training/2022.11/assets/images/alignment_infograph.png" />

  {% endblock %}

