
{% extends "base.html" %}

{% block content %}
{{ super() }}

<meta property="og:url"                content="https://sib-swiss.github.io/NGS-introduction-training/latest/" />
<meta property="og:title"              content="NGS - Quality Control, Alignment, Visualisation" />
<meta property="og:description"        content="Course on the introduction to next generation sequencing analysis" />
<meta property="og:image"              content="https://sib-swiss.github.io/NGS-introduction-training/2022.11/assets/images/alignment_infograph.png" />
{% endblock %}

{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YX61LNKWGY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YX61LNKWGY');
</script>
{% endblock %}
